GEMINI_API_KEY=AIzaSyDC7AUyF5CtUpEb-JWlZva1g07F9rUSc44
OPENAI_API_KEY=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
OLLAMA_BASE_URL=http://localhost:11434